<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what is your question?">
  <input type="submit" value="Ask!">
</form>
